
<div class="main_container">

  <div class="col-md-3 left_col">
    <div class="left_col scroll-view">

      <div class="navbar nav_title" style="border: 0;">
        <a href="index.html" class="site_title"><i class="fa fa-paw"></i> <span>FMS-Mining</span></a>
      </div>
      <div class="clearfix"></div>

      <br />

      <!-- sidebar menu -->
      <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">

        <div class="menu_section">
          <ul class="nav side-menu">
            <li><a href="/fms_dashboard/index"><i class="fa fa-bar-chart-o"></i>DASHBOARD</a>
            </li>
            <li><a href="/fms_equipment/index"><i class="fa fa-home"></i>EQUIPMENTS</a>
            </li>
            <li><a href="/fms_operator/index"><i class="fa fa-edit"></i>OPERATORS</a>
            </li>
            <li><a href="/fms_contract/index"><i class="fa fa-desktop"></i>CONTRACTS</a>
            </li>
            <li><a href="/fms_trip_records/index"><i class="fa fa-table"></i>TRIP RECORDS</a>
            </li>
            <li><a href="/fms_dashboard/index"><i class="fa fa-bar-chart-o"></i>BEACON MANAGEMENT</a>
            </li>
            <li><a href="/fms_login/index"><i class="fa fa-bar-chart-o"></i>LOGOUT</a>
            </li>
          </ul>
        </div>

      </div>

    </div>
  </div>
